@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

:root{
    --Linear-Gradient: linear-gradient(90deg, hsl(236, 72%, 79%) 0%,  hsl(237, 63%, 64%) 100%);
    --Linear-Gradient-card: linear-gradient(135deg, hsl(236, 72%, 79%) 0%,  hsl(237, 63%, 64%) 100%);
    --white: white;
    --violet: hsl(237, 63%, 64%);
    --Very-Light-Grayish-Blue: hsl(240, 78%, 98%);
    --Very-Light-Grayish-Blue-2: hsl(240, 5%, 84%);
    --Light-Grayish-Blue: hsl(234, 14%, 74%);
    --Grayish-Blue: hsl(233, 13%, 49%);
    --Dark-Grayish-Blue: hsl(232, 13%, 33%);

    --ff-montserrat: 'Montserrat', sans-serif;
}

body{
    background: var(--Very-Light-Grayish-Blue);
    background-image: url('../../images/bg-bottom.svg'), url('../../images/bg-top.svg');
    background-repeat: no-repeat;
    background-position: 0% 100%, 100% 0%;
    font-family: var(--ff-montserrat)
}

.main{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.top{
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1.1rem;
    justify-content: center;
}

.top__title{
    color: var(--Grayish-Blue);
    font-size: 1.5rem;
}

.top__toggle{
    align-items: center;
    color: var(--Light-Grayish-Blue);
    font-size: 0.9rem;
    display: flex;
    gap: 1rem;
}

#container{
    background: var(--Linear-Gradient);
    position: relative;
    width: 40px;
    height: 20px;
    box-shadow: inset 4px 4px 0px var(--Linear-Gradient),
                inset -4px -4px 0px var(--Linear-Gradient);
    border-radius: 25px;
    cursor: pointer;
}

.toggle{
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    transform: scale(.7);
    background: var(--Very-Light-Grayish-Blue);
    border-radius: 25px;
}

.cards{
    align-items: center;
    display: flex;
    padding-top: 3rem;
}

.card{
    background: var(--white);
    border-radius: 8px;
    color: var(--Grayish-Blue);
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2rem;
    width: 230px;

    box-shadow: 1px 5px 10px 4px rgba(0,0,0,0.02);
-webkit-box-shadow: 1px 5px 10px 4px rgba(0,0,0,0.02);
-moz-box-shadow: 1px 5px 10px 4px rgba(0,0,0,0.02);
}

.card__price{
    color: var(--Dark-Grayish-Blue);
    font-size: 55px;
    padding: 1.5rem 0;
}

.card__desc{
    align-items: center;
    border-top: 1px solid var(--Very-Light-Grayish-Blue-2);
    justify-content: center;
    padding: 1rem 0;
}

.card__desc__last{
    border-bottom: 1px solid var(--Very-Light-Grayish-Blue-2);
}

.card__button{
    background: var(--Linear-Gradient);
    border: 1px solid var(--violet);
    border-radius: 5px;
    color: var(--Very-Light-Grayish-Blue);
    cursor: pointer;
    margin-top: 2rem;
    padding: 0.5rem 0;
    transition: 0.2s all linear;
}

.card__button:hover{
    background: transparent;
    border: 1px solid var(--violet);
    color: var(--violet);

}

.card__middle{
    background: var(--Linear-Gradient-card);
    color: var(--white);
    transform: scale(1.05);
}

.card__middle .card__price{
    color: var(--white);
}

.card__middle .card__button{
    background: var(--white);
    border: 1px solid var(--white);
    border-radius: 5px;
    color: var(--violet);
}

.card__middle .card__button:hover{
    background: transparent;
    color: var(--white);
}